PACE_controller_data.csv
PACE_controller_log.txt
PACE_controller_settings.json
dist/
build/
*.spec
*.exe
*.zip
SHA256SUMS.txt
__pycache__/
*.pyc
.pytest_cache/
.venv/
cross_platform/*.spec
cross_platform/dist/
cross_platform/build/
cross_platform/src/*.egg-info/
cross_platform/src/*/*.egg-info/
.DS_Store
Thumbs.db
